*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    overflow: hidden;
}

#main{
    height: 100%;
    width: 100%;
    background-color: hsl(0, 25%, 15%);
    display: flex;
}
#part1{
    height: 100%;
    width:26%;
    /* background-color: red; */
}
#part2{
    height: 100%;
    width:67%;
    background-color: rgb(19, 230, 249);
    background-image:url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;

}
#overlay{
    height:100%;
    width:100%;
    background-color: hsla(0, 1%, 21%, 0.45);
}
#part3{
    height: 100%;
    width:7%;
    /* background-color: green; */
}
#text-div
{
    /* height:300px; */
    width: 400px;
    /* background-color: red; */
    left: 7%;
    top: 50%;
    transform: translate(0,-50%);
    position: absolute;
}
#text-div h1{
    font-size: 95px;
    font-weight: 800;
    letter-spacing: 5px;
     font-family: monument;
     line-height: 78px;
     text-transform: uppercase;
     color: #fff;

}
#small-img{
    height :400px;
    width:300px;
    position: absolute;
    top:50%;
    right: 5%;
    transform: translate(0,-50%);
    background-image: url(https://images.unsplash.com/photo-1529680459049-bf0340fa0755?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;

}
#overlay-small{
    height:100%;
    width:100%;
    background-color: hsla(0, 1%, 21%, 0.527);
}
#vertical-text{
    position: absolute;  
    transform: rotate(90deg);
    right: -54%;
    top: -10%;
    transform-origin: 0% 0%;

        
       
        

}
#vertical-text h1{
    font-size: 70px;
    font-weight: 900;
   
    font-family: monospace;
    color:transparent;
    letter-spacing: 15px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;

}
#nav{
    position: absolute;
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 8%;
    top: 5%;


}
#nav img{
    height: 60px;
}
#nav h5{
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
